:root {
    --background-color: #0d1117;
    --text-color-1: #b9bbbd;
    --text-color-2: #8a8d8f;
    --link-color: #236cb4;
    --table-border-color: #3a4555;
}

/* Default elements */

a,
a:visited {
    color: var(--link-color);
}


/* Default containers */

body {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: var(--background-color);
}

header {
    margin: 0;
    padding: 10px 0 10px 0;

    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;

    font-family: inherit;
    font-size: inherit;
    color: var(--text-color-1);
}

main {
    margin: 0;
    padding: 0;

    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;

    font-family: inherit;
    font-size: inherit;
    color: var(--text-color-1);
}

footer {
    margin: 0;
    padding: 10px 0 5px 0;

    width: 100%;
    height: auto;

    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: center;

    font-family: inherit;
    font-size: 0.75em;
    color: var(--text-color-2);
}

/* Special styling */

img#logo {
    width: 4em;
}

table {
    padding: 10px;

    border: 1px solid var(--table-border-color);
    border-collapse: collapse;
}

thead {
    background-color: var(--background-color-2);
}

thead th {
    font-size: 1.3em;
}

tbody th[scope="row"] {
    color: var(--text-color-2);
}

tbody td[headers="amount"],
tbody td[headers="value"] {
    text-align: right;
}

td,
th {
    padding: 10px;

    border: 1px solid var(--table-border-color);
}

tfoot {
    background-color: var(--background-color-1);
    font-style: italic;
}